* {
  outline: none;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  font-family: 'IBM Plex Sans';

  background: #11CB48;
}
body:after {
  content: '';
  position: fixed;
  right: -40px;
  top: 0;
  display: block;
  height: 100vh;
  width: 40vw;
  background: #FFF;

  transform: skewX(-5deg);
  z-index: 1;
}

#mainSvg {
  position: absolute;
  top: 50vh;
  left: 25vh;
  width: 55vw;
  height: 55vw;
  transform: translateY(-50%) translateX(-20%);
}

aside {
  position: fixed;
  right: 0;
  width: 35vw;
  padding: 20px;
  padding-top: 70px;

  color: red;
  text-align: left;
  font-size: 300%;

  z-index: 9;
  overflow: hidden;
}
aside img {
  position: relative;
  width: 100%;
}
mark {
  background: transparent;
  font-weight: bold;
  text-transform: uppercase;
  color: red;
}